@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  --background: #262c2e;
  --foreground: #ededed;
  --myblue: #009bd6;
  --textcolor: white;
}

body.light {
  --background: #ffffff;
  --foreground: #ededed;
  --myblue: #009bd6;
  --textcolor: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262c2e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
